**/.git
**/.github
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/*.user
**/*.suo
**/*.userprefs
**/TestResults
**/appsettings.Development.json
**/appsettings.Local.json
**/secrets.json
**/.env
**/.env.*
**/Dockerfile*
README.md
LICENSE
